/* Rate link */
#customize-footer-actions .collapse-sidebar-label {
  display: none;
}
.czr-rate-link {
  position: absolute;
  bottom: 0;
  left: 40px;
  right: 0;
  padding: 4px 12px 4px 0;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
}
.rtl .czr-rate-link {
   text-align: left;
   left: auto;
   right: 40px;
   padding: 4px 0 4px 12px;
}
.wp-full-overlay.collapsed .czr-rate-link {
  display: none;
}
.czr-rate-link .czr-stars {
  color: #E6B800;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.6);
}

/* Reponsive buttons + rating footer actions hack
* What we do is:
* a) stretch height the footer-actions
* b) sett an higher bottom vallue for the wp-full-overlay-sidebar-content
* according with the new footer-actions-height
* ( the devices buttons are not visibile for window's width below 1025px
*/
@media screen and (min-width: 1025px) {
  .wp-customizer .expanded #customize-footer-actions {
    height: 85px;
    background: inherit;
  }
  .wp-customizer #customize-controls .wp-full-overlay-sidebar-content {
    bottom: 85px;
  }
}
/* end hack */